<% include header %>
  <div class="article">
    <div class="panel panel-primary">
      <div class="panel-heading"><%= title %></div>
      <p class="panel-body"><%= post.post %></p>
    </div>
  </div>
<% include footer %>