<% include header %>
  <!-- 使用了一个数组去重，即只显示不重复的且有文章的人，没有文章的人不显示 -->
  <% users.forEach(function (user) { %>

  <!-- 处理每一条数据 -->
    <div class="single-user panel">
      <p class="panel-heading text-center"><a href=<%= "/u/" + user.name + "/" %>><%=user.name %></a></p>
    </div>

  <% }) %>
<% include footer %>