/* reset */
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
a:hover {
  color: blue;
  font-weight: bold;
  text-decoration: none!important;
}
body {
  background: #333!important;
}
/* 选中后的颜色 */
::selection {
  color: red;
  background: lightblue;
}

/* header */
.nav {
  margin-top: 35px;
  font-size: 20px;
}
.nav .left {
  color: #337ab7;
}
h2.title {
  text-shadow: 0 0 5px green;
}
div.tags {
  display: inline-block;
  float: left;
}
.logo-img {
  border-radius: 5px 5px 10px 10px;
  box-shadow: 0 0 8px green;
  margin-top: 20px;
}
.flash-message {
  margin-top: 20px;
  color: green;
}


/* footer */
div.footer {
  height: 50px;
  width: 100%;
  line-height: 50px;
  text-align: center;
  background: black;
  color: white;
  visibility: hidden;
}


.fixed {
  position: fixed;
  bottom: 0;
  visibility: visible!important;
}


/* index */
// .panel {
//   margin-top: 50px!important;
// }
.post-wrap {
  width: 76%;
  margin: 0 auto;
}
.panel-heading {
  position: relative;
  font-size: 25px;
}
.panel-heading .post-info {
  position: absolute;
  right: 1%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 15px;
}

.panel-heading .author {
  right: 1%;
}

span.pv,
span.com {
  color: #337ab7;
}


.title-link:hover {
  color: green;
  font-weight: normal;
  margin-left: 20px;
  transition: margin-left 1s;
}

.delete-link:hover {
  color: red;
}

.no-article-img {
  border-radius: 50%;
  margin-top: 50px;
}

.no-article {
  color: #337ab7;
}

img.titlebg {
  border-radius: 50%;
}
.article-title {
  position: relative;
}

.article-info {
  position: absolute;
  top: 50%;
  right: 1%;
  transform: translateY(-50%);
  font-size: 15px;
}
.article-title-name {
  color: white;
}

/* comment */
.comment-item .panel-heading {
  font-size: 15px;
}
.comment-item {
  margin-bottom: 35px!important;
}
.comment-footer {
  padding-left: 15px;
}

/* register */
div.register,
div.login,
div.post{
  width: 25%;
  margin: 30px auto;
}
div.register label,
div.login label,
div.post label {
  color: green;
}

div.post {
  width: 50%;
}


/* user */
.user-title {
  text-shadow: 0 0 2px blue;
}


/* artile */
div.article {
  width: 76%;
  margin: 0 auto;
}
.comment-form {
  width: 60%;
  margin-left: 1%;
}
.comment-title {
  font-size: 20px;
}
.comment-label {
  margin: 20px 0 5px 0px;
}
a.read-more,
a.read-more:hover {
  text-decoration: underline!important;
}


/* users */
.single-user {
  width: 75%;
  margin: 0 auto;
}


/* 浮动 */
.left {
  float: left;
}
.right {
  float: right;
}