/* reset */
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
a:hover {
  color: blue;
  font-weight: bold;
  text-decoration: none!important;
}


/* header */
.nav {
  margin-top: 50px;
  font-size: 20px;
}
h2.title {
  text-shadow: 0 0 5px green;
}
div.tags {
  display: inline-block;
  float: left;
}


/* footer */
div.footer {
  height: 50px;
  width: 100%;
  line-height: 50px;
  text-align: center;
  background: black;
  color: white;
  visibility: hidden;
}


.fixed {
  position: fixed;
  bottom: 0;
  visibility: visible!important;
}


/* index */
.panel {
  margin-top: 50px!important;
}
.post-wrap {
  width: 70%;
  margin: 0 auto;
}
.panel-heading {
  position: relative;
  font-size: 25px;
}
.panel-heading .time {
  position: absolute;
  right: 1.5%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 15px;
}

.title-link:hover {
  color: green;
  font-weight: normal;
  margin-left: 20px;
  transition: margin-left 1s;
}

.delete-link:hover {
  color: red;
}

/* register */
div.register,
div.login,
div.post{
  width: 25%;
  margin: 30px auto;
}
div.register label,
div.login label,
div.post label {
  color: green;
}

div.post {
  width: 50%;
}


/* user */
.user-title {
  text-shadow: 0 0 2px blue;
}


/* artile */
div.article {
  width: 70%;
  margin: 0 auto;
}

/* users */
.single-user {
  width: 70%;
  margin: 0 auto;
}